/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100vh;
  color: #fff;
}

div#__next {
  height: 100%;
}

div#__next > div {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

input, textarea {
  color: #333;
}